# Submitted by Rabiat Ibrahim

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [2]:
data = pd.read_csv("energydata_complete.csv")

In [3]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
col_names = {"T1":"Kitchen_temp",
            "RH_1":"Kitchen_hum", "T2":"Living_room_temp", "RH_2":"Living_room_hum", 
             "T3":"Laundry_room_temp",
            "RH_3":"Laundry_room_hum", "T4":"Office_temp", "RH_4":"Office_hum",
            "T5":"Bathroom_temp", "RH_5":"Bathroom_hum", "T6": "Outside_temp(north side)",
             "RH_6":"Outside_hum(north side)",
            "T7": "Ironing_room_temp", "RH_7": "Ironing_room_hum", 
             "T8": "Teenager_room_temp", "RH_8":"Teenager_room_hum", "T9":"Parent_room_temp",
            "RH_9":"Parent_room_hum", "T_out": "Temp_outside", "Press_mm_hg": "Pressure",
            "RH_out":"Hum_outside","rv1":"Random_variable1", "rv2":"Random_variable2"}

In [5]:
data = data.rename(columns = col_names)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      19735 non-null  object
 1   Appliances                19735 non-null  int64
 2   lights                    19735 non-null  int64
 3   Kitchen_temp              19735 non-null  float64
 4   Kitchen_hum               19735 non-null  float64
 5   Living_room_temp          19735 non-null  float64
 6   Living_room_hum           19735 non-null  float64
 7   Laundry_room_temp         19735 non-null  float64
 8   Laundry_room_hum          19735 non-null  float64
 9   Office_temp               19735 non-null  float64
 10  Office_hum                19735 non-null  float64
 11  Bathroom_temp             19735 non-null  float64
 12  Bathroom_hum              19735 non-null  float64
 13  Outside_temp(north side)  19735 non-null  float64
 14  Outside_hum(north side)   19735 non-null  float64
 15  Ironing_room_temp         19735 non-null  float64
 16  Ironing_room_hum          19735 non-null  float64
 17  Teenager_room_temp        19735 non-null  float64
 18  Teenager_room_hum         19735 non-null  float64
 19  Parent_room_temp          19735 non-null  float64
 20  Parent_room_hum           19735 non-null  float64
 21  Temp_outside              19735 non-null  float64
 22  Pressure                  19735 non-null  float64
 23  Hum_outside               19735 non-null  float64
 24  Windspeed                 19735 non-null  float64
 25  Visibility                19735 non-null  float64
 26  Tdewpoint                 19735 non-null  float64
 27  Random_variable1          19735 non-null  float64
 28  Random_variable2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [7]:
data["date"] = pd.to_datetime(data["date"])

In [8]:
data.head()

,date,Appliances,lights,Kitchen_temp,Kitchen_hum,Living_room_temp,Living_room_hum,Laundry_room_temp,Laundry_room_hum,Office_temp,...,Parent_room_temp,Parent_room_hum,Temp_outside,Pressure,Hum_outside,Windspeed,Visibility,Tdewpoint,Random_variable1,Random_variable2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

# Question 17:

In [9]:
X = data[["Living_room_temp"]]
y = data[["Outside_temp(north side)"]]

model = LinearRegression()
model.fit(X, y)

y_pred = model.predict(X)

rmse = np.sqrt(mean_squared_error(y, y_pred))
round(rmse, 3)

3.644

# Question 18:

In [10]:
X = data.drop(columns=["date", "lights", "Appliances"])
y = data[["Appliances"]]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)

round(mae, 3)

53.635

# Question 19:

In [11]:
y_pred_train = model.predict(X_train)


RMSE = np.sqrt(mean_squared_error(y_train, y_pred_train))

round(RMSE, 3)

95.216

# Question 20

In [12]:
y_test_pred = model.predict(X_test)
MAE = mean_absolute_error(y_test, y_test_pred)

round(MAE, 3)

53.635

# Question 21

In [13]:
y_pred_test = model.predict(X_test)

RMSE_test = np.sqrt(mean_squared_error(y_test, y_pred_test))

round(RMSE_test, 3)

93.638

# Question 22

## No overfitting

# Question 23:

In [14]:
rigde_reg = Ridge()

rigde_reg.fit(X_train, y_train)
y_pred = rigde_reg.predict(X_test)

RMSE_ridge = np.sqrt(mean_squared_error(y_test, y_pred))
round(RMSE_ridge, 3)

93.709

# Question 24

In [15]:
lasso_reg = Lasso()
lasso_reg.fit(X_train, y_train)
non_zero_features = sum(lasso_reg.coef_ != 0)
non_zero_features

4

# Question 25:

In [16]:
pred = lasso_reg.predict(X_test)
RMSE_lasso = np.sqrt(mean_squared_error(y_test, pred))
round(RMSE_lasso,3)

99.424